
.classM a{width:95px;height:93px;display:block;background:url(../images/ico.gif) no-repeat center 0;float:left;}
.classM a.M_2{background-position:0 -93px}
.classM a.M_3{background-position:0 -186px}
.classM a.M_4{background-position:0 -279px}
